@{ Layout = "~/views/shared/_layout.cshtml"; }
<link rel="stylesheet" href="@(Model.cssPath)assets/routes/orderlist/index.css">
<div id="reactwrapper"></div>
<script src="@(Model.jsPath)assets/routes/orderlist/index.js"></script>
