@{ Layout = "~/views/shared/_layout.cshtml"; }
<link rel="stylesheet" href="@(Model.jsPath)assets/routes/paySuccess/index.css">
<div id="reactwrapper"></div>
<script src="@(Model.jsPath)assets/routes/paySuccess/index.js"></script>
