<!DOCTYPE HTML>
<html>

<head>
    <title>月饼大战</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" id="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <link rel="stylesheet" type="text/css" href="/games/css/fight/main.css" />
    <link rel="stylesheet" type="text/css" href="/games/util/base.css" />
</head>

<body>


    <div id="contentdiv">
        <div id="startdiv">
            <div class="start_wp"><button onClick="begin()">开始游戏</button></div>
        </div>
        <div id="maindiv">
            <div id="scorediv">
                <label>分数：</label>
                <label id="label">0</label>
            </div>
            <div class="sus_wp">
                <div id="suspenddiv">
                    <button>继续</button><br/>
                    <button>重新开始</button>
                </div>
            </div>
            <div class="end_wp">
                <div id="enddiv">
                    <p class="plantext">得分</p>
                    <p id="planscore">0</p>
                    <div class="btn_wp">
                        <!--<p><button class="dh_btn">兑换月饼</button></p>-->
                        <p><button onClick="jixu()">再打一次</button></p>
                        <!-- <p><button class="zf_bt"><b>分享朋友圈</b></button></p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mask"></div>
    <div class="mooncake_wp">
        <div class="mn_wp">
            <a class="go_back" href="javascript:;">再打一次</a>

        </div>
    </div>

    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script type="text/javascript" src="/games/util/jquery.min.js"></script>
    <script type="text/javascript" src="/games/js/fight/main.js"></script>
    <script src="/games/util/rem.js"></script>
    <!--和后台交互  -->
    <script type="text/javascript" charset="UTF-8" src="/games/util/base.js"></script>
    <script type="text/javascript" charset="UTF-8" src="/games/util/baseConfig.js"></script>
    <script src="/games/util/jquery.blockUI.js"></script>
    <script type="text/javascript" charset="UTF-8" src="/games/util/wxshare.js"></script>
    <script>
        $(function () {
            var _n = $(window).width() / $(window).height();
            if (_n < 1) {
                $('.roll_tips').hide();
            }
            else {
                $('.roll_tips').show();
            };

            $(".fz_btn").click(function () {
                location.reload();
            });

            $(".zf_bt").click(function () {
                $(".mask").show();
            });
            $(".mask").click(function () {
                $(this).hide();
            });
            $(".dh_btn").click(function () {
                $(".mooncake_wp").show();
            });
            $(".go_back").click(function () {
                jixu();
            });

            //微信分享
            var obj = {
                title: '月饼大战',
                desc: '月饼大战，等你来挑战',
                link: window.location.href,
                imgUrl: 'http://demo.open.weixin.qq.com/jssdk/images/p2166127561.jpg',
            }
            wxShare.init(obj);
            //wxShare.init(obj, func);
        });

    </script>

</body>

</html>