@import '../../style/base.less';

@mainColor: #619a2c;

.root-container {
    width: 100%;
    height: 100%;
    .content {
        width: 100%;
        height: 100%;
        font-size: 30 * @unit; 
        background-color: #f2f2f2;
        .am-navbar-light .am-navbar-title {
            font-size: 34 * @unit;
            color: #282828;                         
        }
        .listBox {
            background-color: #f2f2f2;            
        }
        .am-list-item .am-list-line {
            .am-list-content{
                font-size: 30 * @unit;
                color: #656565;
            }
            .am-list-extra{
                flex-basis: 65%;
                font-size: 28 * @unit; 
                color: #989898;                
            }
        }
        .am-textarea-control {
            textarea {
                font-size: 28 * @unit;
                color: #989898;                
            }
        }
        .textAreaInput {
            textarea {
                height: 152 * @unit;
            }
        }
        .textAreaBd {
            padding: 0 28 * @unit;            
            textarea {
                padding: 14 * @unit;                
                border: 1 * @unit solid #ddd;                
            }
        }
        .btnColor {
            background-color: @mainColor;
        }
        .checkBtn {
            height: 88 * @unit;
        }
    }  
}
