{
  "parserOptions": {
    "sourceType": "module",
  },
  parser: "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "max-len": [1, 280, 2, {ignoreComments: true}],
    "prop-types": [0]
  }
}