@import './reset.less';
@import './theme.less';



/**
 * button
 */
.yzy-btn-primary {
  background-color: @color-primary-btn;
  border-color: @color-primary-btn;
}




/**
 * 界面风格
 */
.yzy-page {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: @color-bg-gray;
}


/**
 * form
 */
.yzy-search-form-wrap {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;

  .yzy-form-btns-wrap {
    display: flex;
    justify-content: 'flex-end';
  }
}

/**
 * list
 */
.yzy-list-wrap {
  .yzy-list-btns-wrap {
    display: flex;
    justify-content: 'flex-start';
  }
}