@{ Layout = "~/views/shared/admin_layout.cshtml";}
<link rel="stylesheet" href="@(Model.cssPath)assets/admin/game/activitylist.css">
<div id="reactwrapper" class="container"></div>
<script src="@(Model.jsPath)assets/admin/game/activitylist.js"></script>