@{ Layout = "~/views/shared/admin_layout.cshtml";}
<link rel="stylesheet" href="@(Model.cssPath)assets/admin/user/autoReply.css">
<div id="autoreplyreactwrapper" class="container"></div>
<script src="@(Model.jsPath)assets/admin/user/autoReply.js"></script>