@{ Layout = "~/views/shared/index.cshtml";}
<link rel="stylesheet" href="@(Model.cssPath)assets/admin/youtong/customer.css">
<div id="customerreactwrapper"></div>
<script src="@(Model.jsPath)assets/admin/youtong/customer.js"></script>