@{ Layout = "~/views/shared/admin_layout.cshtml";}
<link rel="stylesheet" href="@(Model.cssPath)assets/admin/youtong/customerEdit.css">
<div id="customerinforeactwrapper"></div>
<script src="@(Model.jsPath)assets/admin/youtong/customerEdit.js"></script>