@{ Layout = "~/views/shared/admin_layout.cshtml";}
 <link rel="stylesheet" href="@(Model.cssPath)assets/admin/user/fanslist.css"> 
<div id="fanslistreactwrapper" class="container"></div>
<script src="@(Model.jsPath)assets/admin/user/fanslist.js"></script>
