@{ Layout = "~/views/shared/admin_layout.cshtml";}
<link rel="stylesheet" href="@(Model.cssPath)assets/admin/user/index.css">
<div id="reactwrapper" class="main-container"></div>
<script src="@(Model.jsPath)assets/admin/user/index.js"></script>
