@{ Layout = "~/views/shared/index.cshtml";}
<link rel="stylesheet" href="@(Model.cssPath)assets/admin/youtong/login.css">
<div id="reactwrapper" class="container"></div>
<script src="@(Model.jsPath)assets/admin/youtong/login.js"></script>
