@{ Layout = "~/views/shared/admin_layout.cshtml";}
<link rel="stylesheet" href="@(Model.cssPath)assets/admin/user/memberlist.css">
<div id="memberlistreactwrapper" class="container"></div>
<script src="@(Model.jsPath)assets/admin/user/memberlist.js"></script>
