@{ Layout = "~/views/shared/admin_layout.cshtml";}
 <link rel="stylesheet" href="@(Model.cssPath)assets/admin/user/order.css"> 
<div id="goodsreactwrapper" class="container"></div>
<script src="@(Model.jsPath)assets/admin/user/order.js"></script>
