@{ Layout = "~/views/shared/admin_layout.cshtml";}
<link rel="stylesheet" href="@(Model.cssPath)assets/admin/user/publicnumber.css">
<div id="publicnumberreactwrapper" class="container"></div>
<script src="@(Model.jsPath)assets/admin/user/publicnumber.js"></script>
