@import "../../common/common.scss";
#reactwrapper {
    width: 100%;
    height: 100%;
	max-width: $rem * 1280;
	min-width: $rem * 300;
	margin: 0 auto;
}
.container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #AFD9F7;
    margin: 0 auto;
    >h1 {
        font-size: $rem * 15;
        text-align: center;
        padding: $rem * 50;
        margin: 0;
    }
    form {
        width: 50%;
        position: absolute;
        top: 15%;
        left: 0;
        bottom: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
        input {
            width: 80%;
            height: $rem * 26;
            border-radius: $rem * 5;
            font-size: $rem * 12;
        }
        .userPw {
            width: 80%;
            margin: 0 auto;
            border-radius: $rem * 5;
            margin-bottom: $rem * 20;
            line-height: $rem * 26;            
            >input {
                width: 55%;               
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
            .getCode {
                width: 45%;
                background-color: #108EE9;
                border: none;
                border-radius: $rem * 5;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                font-size: $rem * 12;
                // cursor: pointer;
            }
        }
        .submit {
            width: 50%;
            height: $rem * 26;
            background-color: #108EE9;
            border: none;
            font-size: $rem * 14;
        }
    }
}