/**
 * antd样式修复
 */
@import './theme.less';

.ant-layout {
  background-color: @color-bg-gray;
}

.ant-layout-header {
  background-color: transparent;
}

.ant-layout-sider {
  background-color: @primary-color;
}