/**
 * antd样式修复
 */
@import './theme.less';

// .ant-layout {
//   background-color: #fff;
//   height: 100%;
// }

// .ant-layout-sider {
//   background-color: @primary-color-dark;
// }

// .ant-layout-content {

// }

// .ant-menu {
//   background-color: transparent;
// }

.ant-table-row.active {
  background-color: tint(@primary-color, 90%);
}


.ant-table-row {
  .ant-upload-list-item {
    margin-top: 0;
  }

  .ant-upload-list-item-info {
    line-height: 18px;
  }

  .ant-upload-list-item-name {
    position: relative;
    top: 2px;
  }

  .align-right {
    text-align: right;
  }

  .anticon {
    font-size: 14px;
    margin-right: 10px;
  }
}

.ant-table-thead span {
  font-weight: 700;
}
/**
 * ant-table-expanded-row-level-1
 */
.ant-table-expanded-row .ant-table-tbody > tr > td {
  border-bottom: 0;
}

.ant-input-disabled{
  font-weight: bold;
  color: #333;
}