/**
 * antd样式修复
 */
@import './theme.less';

.ant-layout {
  background-color: #fff;
  height: 100%;
}

.ant-layout-sider {
  background-color: @primary-color-dark;
}

.ant-layout-content {

}

.ant-menu {
  background-color: transparent;
}