@import "../../theme/index.less";

.ant-upload-select-picture-card i {
  font-size: 28px;
  color: #999;
}

.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  font-size: 12px;
  color: #666;
}
.ant-input-group-addon {
  background-color: #fff;
}

.i-map{
  height: 300px;
}

.customer-law{
  th{
    vertical-align: bottom;
  }
}

.superviseLevel{
  .orange{
    .ant-select-selection--single{
      background: orange;
      color: orange;
    }
  }
  .yellow{
    .ant-select-selection--single{
      background: yellow;
      color: yellow;
    }
  }
  .blue{
    .ant-select-selection--single{
      background: rgb(62, 196, 236);
      color: rgb(62, 196, 236);
    }
  }
  .green{
    .ant-select-selection--single{ 
      background: rgba(158, 235, 106,1);
      color: rgba(158, 235, 106,1);
    }
  }
}