<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/libs/jquery.js"></script>
    <script src="/assets/common/dal.js"></script>
</head>

<body>
    <textarea name="" id="aaa" cols="30" rows="10"></textarea>
    <script>
        $("#aaa").text(11);
        $db.getLoginUserInfo(null, function (data) {
            console.log(data);
            $("#aaa").text(JSON.stringify(data));
        });
    </script>
</body>

</html>