@{ Layout = "~/views/shared/_layout.cshtml"; }
<link rel="stylesheet" href="@(Model.cssPath)assets/routes/user/selfdata.css">
<div id="reactwrapper"></div>
<script src="@(Model.jsPath)assets/routes/user/selfdata.js"></script>